[Desktop Entry]
Version=1.0
Type=Link
Name=loupe-white.svgImagem
Comment=
Icon=user-bookmarks
URL=https://drive.google.com/file/d/1TCQlDPXb3Tl7_2NcGlRj5TuQm8k75Fmt/view?usp=classroom_web&authuser=0
