[Desktop Entry]
Version=1.0
Type=Link
Name=loupe-blue.svgImagem
Comment=
Icon=user-bookmarks
URL=https://drive.google.com/file/d/1ARFmt0x-h7VgX7_LG_ewUIpNGn2jmISH/view?usp=classroom_web&authuser=0
